* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--background);
    margin: 0;
}

main {
    max-width: 95vw;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

@media screen and (min-width: 1216px) {
    main {
        max-width: 1152px;
    }
}

@media screen and (min-width: 1024px) {
    main {
        max-width: 960px;
    }
}

@media screen and (min-width: 600px) {
    main {
        max-width: 95vw;
    }
}

nav {
    padding: 1vw;
    background-color: var(--surface);
}

nav * {
    color: var(--primary);
}

article {
    background-color: var(--surface);
    margin-top: 1rem;
    padding: .1rem .6rem;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
}

article section {
    background-color: var(--surface-secondary);
}

section {
    background-color: var(--surface);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .6rem .8rem;
    outline: .1rem solid var(--surface);    
    box-shadow: none;
    border-radius: 4px;
    display: inline-block;
}

section > button {
    margin: 2vw .5vw;
}

h1 {
    font-size: xxx-large;
    font-weight: 400;
}

h2 {
    font-size: xx-large;
    font-weight: 400;
}

h3 {
    font-size: x-large;
    font-weight: 400;
}

h4 {
    font-size: large;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    transition: all .6s ease-in-out;
    border-color: transparent;
    border-width: medium;
    border-style: solid;
    line-height: 1.1;
    margin-bottom: 1.45rem;
    text-rendering: optimizeLegibility;
}

p {
 font-weight: 400;
}

p:hover::after {
    content: "\221F";
    position: absolute;
    transform: translateY(-2rem) translateX(1rem) scaleX(-1);
}

p:hover::after {
    position: absolute;
    content: "\221F";
    position: absolute;
    transform: translateY(-2rem) translateX(1rem) rotate(180deg);
}

a {
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    padding: .3rem;
}

a::after {
    transition: all .2s ease-out;
}

a[target="_blank"]:hover::after {
    content: "\1F5D4"; /* window \1F5D4 */ /* arrow \1F895 */
    position: absolute;
    opacity: .8;
    color: var(--info);
    font-size: xx-large;
    transform: translateY(.7rem);
    /* KEEP for arrows:
    transform: translateY(-3.5rem) translateX(.5rem) rotateZ(45deg);
    */
}

summary:hover,
a:hover {
    background-color: var(--primary);
    color: var(--background);
    transition: all .2s ease-in-out;
    box-shadow: var(--card-shadow);
}

blockquote {
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    margin-inline-start: 1rem;
    padding-left: 15px;
    padding: .4rem .4rem .4rem .8rem;
    border-left: .35rem solid var(--secondary);
    border-right: .15rem solid var(--secondary);
    background-color: var(--surface);
    display: inline-block;
    box-shadow: var(--card-shadow);
    transition: transform .2s ease-in-out;
}

blockquote:hover {
    transform: rotateY(5deg) skewY(1deg);
}

blockquote.warning {
    padding: .8rem;
    border-left-color: transparent;
}

blockquote.error {
    padding: .8rem;
    border-left-color: transparent;
}

button {
    position: relative;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.0892857em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 64px;
    border: none;
    outline: none;
    line-height: inherit;
    user-select: none;
    appearance: none;
    vertical-align: middle;
    border-radius: 4px;
    height: 36px;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    flex: 1 1 auto;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--surface);
    box-shadow: var(--card-shadow);
    transition: all 0.2s;
}

button:hover {
    transition: all 0.2s;
    box-shadow: 0px 2px 4px -1px var(--primary), 0px 4px 5px 0px var(--primary), 0px 1px 10px 0px var(--primary);
    transform: scale(1.02);
}

button:after {
    content: '';
    position: absolute;
    background-color: var(--secondary);
    width: 0%;
    height: 100%;
    left: 0;
    transition: all 0.2s;
    mix-blend-mode: overlay;
}

button:hover:after {
    content: '';
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    mix-blend-mode: overlay;
}

label {
    display: inline-block;
    margin: .6rem 0rem;
    border-bottom: 1px solid var(--info);
}

input {
    padding: 12.5px 14px;
    color: var(--on-surface);
    caret-color: var(--on-surface);
    background-color: var(--secondary);
    box-sizing: content-box;
    border-style: var(--input-border-style);
    border-color: var(--secondary);
    border-radius: 8px;
    border-width: 1px;
    outline: none;
    font-size: medium;
    margin: .6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="submit"],
input[type="reset"],
input[type="range"],
input[type="checkbox"] {
    appearance: auto;    
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--surface);
    opacity: .6;
}

textarea {
    background-color: var(--surface);
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    margin: 0 .6rem;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    border: 1px solid var(--background);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--on-surface);
}

select option {
    font-weight:normal;
    padding: 1rem;
    line-height: 1rem;
    color: var(--on-info);
    background-color: var(--info);
}

b,
strong {
    font-weight: bolder;
}

pre {
    padding: 1rem 1.5rem;
    border-radius: 4px;
}

samp,
code {
    color: var(--surface);
    background-color: var(--text-color);
    padding: .25rem;
    margin-left: .25rem;
    margin-right: .25rem;
    border-radius: .2rem;
    line-height: 2;
}

code.language-text {
    padding: .25rem !important;
}

samp {
    margin-left: .25rem;
    margin-right: .25rem;
    border-radius: .2rem;
    background-color: var(--text-color);
    color: var(--info);
    font-weight: lighter;
    font-size: large;
    border-left: 1px solid var(--info);
    border-right: 1px solid var(--info);
}

samp.error {
    /*
     background-color: none;
     */
    opacity: 0.9;
}

    /*
samp.error::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: teal;
    opacity: 0.5; 
    position: absolute; 
    top: 0; 
    left: 0;
    z-index: -1;
}
    */

kbd {
    background-color: var(--secondary);
    color: var(--on-secondary);
    font-size: .875em;
    padding: .2rem .4rem;
    margin-left: .25rem;
    margin-right: .25rem;
    border-radius: .2rem;
}

mark {
    background-color: var(--warning);
    color: var(--on-warning);
    padding: .2rem .4rem;
}

time {
    font-size: small;
    font-weight: lighter;
    font-family: monospace;
    background-color: var(--surface);
    padding: .2rem;
    border-radius: 2px;
    color: var( --on-surface);
    border: 1px solid var(--info);
}

ul {
    list-style-type: "\232A";
    margin-left: 1.45rem;
    padding: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
}

li {
    margin-bottom: calc(1.45rem / 2);
}

table {
    line-height: 1.45rem;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    border-top-width: 1px;
    border-top-style: solid;
}

th {
    /*font-size: .875rem;*/
    font-size: large;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .0071428571em;
    text-decoration: inherit;
    text-transform: inherit;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid var(--text-color);
}

td, th {
    padding: 15px 10px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

table>tbody>tr {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
}

table>tbody>tr:hover {
    background-color: var(--text-color);
    color: var(--surface);
}

details {
    padding: .4vw;
    width: fit-content;
    transition: all .4s ease-in-out;
    border-radius: 100px;
    border-left: 0px solid var(--info);
    border-bottom: 0px solid var(--info);
}

details[open] {
    padding: 2vw;
    background-color: var(--surface);
    border-left: 1px solid var(--info);
    border-bottom: 1px solid var(--info);
    box-shadow: none;
    transition: all .4s ease-in-out;
    border-radius: 5px;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}


summary {
    cursor: pointer;
    padding: .25rem .6rem;
    font-size: small;
    color: var(--surface);
    background-color: var(--primary);
    width: fit-content;
    border-radius: .2rem;
    margin: .1rem;
}

dialog {
    border: 1px solid var(--info);
    color: var(--text-color);
    background-color: var(--surface-secondary);
    opacity: 0;
    box-shadow: var(--card-shadow);
    transition: all 1s ease-in-out;
}

dialog[open] {
    opacity: 1;
    transition: all 1s ease-in-out;
}

dialog::backdrop {
    background-color: whitesmoke;
    opacity: .2;
}

section.l-grid-center-list {
    outline: none;
}

hr {
    opacity: .25;
}

hr.inset {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--text-color), rgba(0, 0, 0, 0));
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 76%;
}

hr.vertical {
    display: inline;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: currentColor;
    margin: 0vw 1vw;
    opacity: .1;
}
