* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background: var(--background);
    background-color: var(--background);
    margin: 0;
    text-shadow: var(---text-shadow);
}

header {
    width: 100%;
    margin: 0;
    background-color: var(--surface);
    padding-top: .4rem;
}

header h1 {
    margin-left: 2rem;
}

main {
    max-width: 960px;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

nav {
    padding: 1vw;
    background-color: var(--surface);
}

nav * {
    color: var(--primary);
}

nav > a {
    margin: .5vw;
}

article {
    color: var(--text-color-muted);
    background-color: var(--surface);
    display: inline-block;
    margin: 4vw 2vw;
    padding: .1rem .6rem;
    border-radius: var(--border-radius);
    transition: all .2s;
    /*
    border: 1px solid var(--surface);
    */
    border: 1px solid;
    border-color: var(--border-color);
}

article section {
    background-color: var(--surface-secondary);
}

article ul li article {
    background-color: var(--surface-secondary);
}

article textarea,
article input {
    border-color: var(--surface-tertiary);
}

section {
    background-color: var(--surface);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .6rem .8rem;
    outline: .1rem solid var(--surface);    
    box-shadow: none;
    border-radius: 4px;
    display: inline-block;
}


section:empty {
    background-color: none;
    outline: none;
}

section:empty:before {
    /*
    background-color: transparent !important;
    busy-ul-before
    */
    content: "...";
    position: absolute;
    background-color: var(--on-info);
    padding: 1vw;
    opacity: .9;
    color: var(--info);
    border-radius: var(--border-radius);
    animation-name: busy-ul-before; /* TODO: replace with generic empty */
    animation-duration: .6s;
    animation-iteration-count: infinite;
    /* transition: all 1s; TODO: Not working */ 
}


/* TODO: test transition on entry
section {
    opacity: 1;
    transition: all 2.4s ease-in-out;
}
section:not([closed]) {
    opacity: 1;
    transition: all 2.4s ease-in-out;
}
section:not() {
    opacity: 0;
    transition: all 2.4s ease-in-out;
}
section:not([open]) {
}
*/
section > button {
    margin: 2vw .5vw;
}

article input,
article select,
article button,
article summary {
    color: var(--text-color);
    background-color: var(--surface-secondary);
    /* KEEP FOR TESTING
    background-color: var(--accent);
    */
}

section input,
section textarea,
section select,
section button,
section summary {
    border-color: var(--surface-secondary);
}

h1 {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: x-large;
    font-weight: 400;
}

h4 {
    font-size: large;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    transition: all .6s ease-in-out;
    border-color: transparent;
    border-width: medium;
    border-style: solid;
    text-rendering: optimizeLegibility;
    line-height: 1.2;
    letter-spacing: -.05rem;
    margin-bottom: .4rem;
}

h3,
h4,
h5,
h6 {
    margin-top: .5rem;
    margin-bottom: 1.1rem;
}

p {
    font-weight: 400;
    white-space: pre-wrap;
}

p:hover::after {
    content: "\221F";
    position: absolute;
    transform: translateY(-2rem) translateX(1rem) scaleX(-1);
}

p:hover::after {
    position: absolute;
    content: "\221F";
    position: absolute;
    transform: translateY(-2rem) translateX(1rem) rotate(180deg);
}

a {
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    padding: .3rem;
}

a::after {
    transition: all .2s ease-out;
}

a[target="_blank"]::after {
    content: "";
    position: absolute;
}

a[target="_blank"]:hover::after {
    content: "\1F5D4"; /* window \1F5D4 */ /* arrow \1F895 */
    position: absolute;
    opacity: .8;
    color: var(--info);
    font-size: xx-large;
    transform: translateY(.7rem);
    transition: all .2s;
    /* KEEP for arrows:
    transform: translateY(-3.5rem) translateX(.5rem) rotateZ(45deg);
    */
}

summary:hover,
a:hover {
    background-color: var(--primary);
    color: var(--background);
    transition: all .2s ease-in-out;
    box-shadow: var(--box-shadow);
}

blockquote {
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    margin-inline-start: 1rem;
    padding-left: 15px;
    padding: .4rem .4rem .4rem .8rem;
    border-left: .35rem solid var(--secondary);
    border-right: .15rem solid var(--secondary);
    background-color: var(--surface);
    display: inline-block;
    box-shadow: var(--box-shadow);
    transition: transform .2s ease-in-out;
}

blockquote:hover {
    transform: rotateY(5deg) skewY(1deg);
}

blockquote.warning {
    padding: .8rem;
    border-left-color: transparent;
}

blockquote.error {
    padding: .8rem;
    border-left-color: transparent;
}

button {
    position: relative;
    font-family: var(--font-family);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.0892857em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 64px;
    border: none;
    outline: none;
    line-height: inherit;
    user-select: none;
    appearance: none;
    vertical-align: middle;
    border-radius: var(--border-radius);
    height: 36px;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    flex: 1 1 auto;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--surface);
    box-shadow: var(--box-shadow);
    transition: all 0.2s;
}

button:active {
    color: var(--on-accent);
    background-color: var(--accent);
    transform: scale(.8) !important;
}

button:hover {
    transition: all .2s;
    box-shadow: 0 1px 4px -1px var(--primary),0 2px 2px 0 var(--primary),0 1px 5px 0 var(--primary);
    transform: scale(1.02);
}

button:after {
    content: '';
    position: absolute;
    background-color: var(--accent);
    width: 0%;
    height: 100%;
    left: 0;
    transition: all 0.2s;
    mix-blend-mode: overlay;
}

button:hover:after {
    content: '';
    background-color: var(--accent);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    mix-blend-mode: overlay;
}

button[disabled] {
    opacity: .25;
}

button[disabled]:hover {
    box-shadow: 0 1px 4px -1px var(--error),0 2px 2px 0 var(--error),0 1px 5px 0 var(--error);
    transform: none;
}

button[disabled]:hover:after {
    content: '';
    background-color: var(--error);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    mix-blend-mode: overlay;
}

small button {
    font-size: smaller !important;
    min-width: unset;
    height: unset;
    padding: .5rem;
}

label {
    display: inline-block;
    margin: .6rem 0rem;
    border-bottom: 1px solid var(--info);
}

fieldset {
    border-color: var(--accent);
}

textarea,
input {
    padding: 12.5px 14px;
    caret-color: var(--on-surface);
    box-sizing: content-box;
    border-style: var(--input-border-style);
    border-color: var(--surface);
    border-radius: var(--border-radius);
    border-width: 1px;
    outline: none;
    font-size: medium;
    margin: .6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: var(--font-family);
}

textarea:read-only,
input:read-only {
    background-color: inherit;
    border: 1px solid var(--background);
    color: var(--uncommon);
}

input[type="submit"],
input[type="reset"],
input[type="range"],
input[type="checkbox"] {
    appearance: auto;    
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--surface);
    opacity: .6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid var(--secondary);
    -webkit-text-fill-color: var(--secondary);
    -webkit-box-shadow: 0 0 0px 1000px var(--on-secondary) inset;
    box-shadow: 0 0 0px 1000px var(--on-secondary) inset;
    transition: background-color 5000s ease-in-out 0s;
}

input,
textarea,
select,
button {
    color: var(--text-color);
    background-color: var(--secondary);
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    margin: 0 .6rem;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    border: 1px solid var(--background);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: var(--border-radius);
    background-color: var(--secondary);
    color: var(--on-surface);
}

select option {
    font-weight: 400;
    padding: 1rem;
    line-height: 1.2rem;
    color: var(--text-color-muted);
    background-color: var(--surface-tertiary);
}

select:focus { /* may be too broad */
    outline-style: auto;
    outline-color: var(--surface);
    outline-width: 2px;
}

textarea {
    max-width: 80vw;
}

b,
strong {
    font-weight: bolder;
}

pre {
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius);
    /*
    background-color: var(--on-accent);
    color: var(--accent);
    */
}

small samp {
    font-size: smaller;
}

samp,
code {
    color: var(--on-accent);
    background-color: var(--accent);
    padding: .25rem;
    margin-left: .25rem;
    margin-right: .25rem;
    border-radius: var(--border-radius);
    line-height: 2;
}

code:empty {
    display: none;
}

code.language-text {
    padding: .25rem !important;
}

samp {
    margin-left: .25rem;
    margin-right: .25rem;
    border-radius: var(--border-radius);
    background-color: inherit;
    color: var(--uncommon);
    font-weight: lighter;
    font-size: large;
    border-left: .1rem dotted var(--info);
    border-right: .1rem dotted var(--info);
    border-bottom-style: dotted;
    border-bottom-width: .1rem;
    border-bottom-color: var(--info);
    filter: brightness(1.2);
}

samp.error {
    /*
     background-color: none;
     */
    opacity: 0.9;
}

    /*
samp.error::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: teal;
    opacity: 0.5; 
    position: absolute; 
    top: 0; 
    left: 0;
    z-index: -1;
}
    */

kbd {
    background-color: var(--secondary);
    color: var(--on-secondary);
    font-size: .875em;
    padding: .2rem .4rem;
    margin-left: .25rem;
    margin-right: .25rem;
    border-radius: var(--border-radius);
}

mark {
    background-color: var(--warning);
    color: var(--on-warning);
    padding: .2rem .4rem;
}

time {
    font-size: small;
    font-weight: lighter;
    font-family: monospace;
    background-color: var(--surface);
    padding: .2rem;
    border-radius: var(--border-radius);
    color: var( --on-surface);
    border: 1px solid var(--info);
}

ul {
    /* KEEP
    list-style-type: "\232A";
    */
    list-style-type: none;
    margin-left: 1.45rem;
    padding: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
}

ul[aria-busy="true"] {
    animation-name: busy-ul;
    animation-duration: .6s;
    animation-iteration-count: infinite;
}

ul[aria-busy="true"]::before {
    content: "...";
    position: absolute;
    background-color: var(--on-info);
    padding: 1vw;
    opacity: .9;
    color: var(--info);
    border-radius: var(--border-radius);
    animation-name: busy-ul-before;
    animation-duration: .6s;
    animation-iteration-count: infinite;
}

ul::before {
    content: "";
    transition: all .4s ease-in-out;
}

/* 
ul:empty {
    KEEP, for possible loading bar
    min-height: 2vh;
}

ul:empty::before {
    content: "...";
    position: absolute;
    background-color: var(--on-info);
    padding: 1vw;
    opacity: .9;
    color: var(--info);
    border-radius: var(--border-radius);
    animation-name: empty-ul-before;
    animation-duration: .6s;
    animation-iteration-count: infinite;
}
*/

li {
    margin-bottom: calc(1.45rem / 2);
}

li {
    margin-bottom: calc(1.45rem / 2);
    /*
    border-left: 2px solid var(--info);
    */
    border-radius: var(--border-radius);
    padding-left: 1rem;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

table {
    background-color: var(--info);
    border: 2px dashed var(--on-info);
    color: var(--on-info);
    line-height: 1.45rem;
    border-collapse: collapse;
    border-spacing: 0;
}

small table {
    line-height: .1rem;
}

tr {
    border-color: var(--on-info);
    border-top-width: 1px;
    border-top-style: solid;
}

th {
    /*font-size: .875rem;*/
    font-size: large;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .0071428571em;
    text-decoration: inherit;
    text-transform: inherit;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid var(--text-color);
}

td, th {
    padding: 15px 10px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

table>tbody>tr {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
}

table>tbody>tr:hover {
    background-color: var(--text-color);
    color: var(--surface);
}

details {
    padding: .4vw;
    width: fit-content;
    transition: all .4s ease-in-out;
    border-radius: calc(4px + var(--border-radius));
    border-left: 0px solid var(--info);
    border-bottom: 0px solid var(--info);
}

details[open] {
    padding: 2vw;
    background-color: var(--surface);
    border-left: 1px solid var(--info);
    border-bottom: 1px solid var(--info);
    box-shadow: none;
    transition: all .2s ease-in-out;
    border-radius: var(--border-radius);
}

details[open] summary ~ * {
    animation: sweep .2s ease-in-out;
}

details.floating {
    border: none;
    width: auto;
}

details[open].floating {
    position: absolute;
    background-color: var(--surface-tertiary);
    max-width: 90vw;
    z-index: 10;
    border: 10px solid var(--accent);
}

summary {
    cursor: pointer;
    padding: .25rem .6rem;
    font-size: small;
    color: var(--surface);
    background-color: var(--primary);
    width: fit-content;
    border-radius: var(--border-radius);
    margin: .1rem;
}

dialog {
    border: 1px solid var(--info);
    color: var(--text-color);
    background-color: var(--surface-secondary);
    opacity: 0;
    box-shadow: var(--box-shadow);
    transition: all 1s ease-in-out;
}

dialog[open] {
    opacity: 1;
    transition: all 1s ease-in-out;
}

dialog::backdrop {
    background-color: whitesmoke;
    opacity: .2;
}

section.l-grid-center-list {
    outline: none;
}

hr {
    opacity: .25;
}

hr.inset {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--text-color), rgba(0, 0, 0, 0));
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 76%;
}

hr.vertical {
    display: inline;
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);
    background-color: currentColor;
    margin: 0vw 1vw;
    opacity: .1;
}

aside > details[open] {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 15vh;
    max-height: 65vh;
    width: 100%;
    overflow: overlay;
    opacity: .985;
    backdrop-filter: blur(10px); /* Does not work properly */
    z-index: 10;
}

aside > details[open] > summary {
    position: sticky;
    top: 98.5%;
    width: max-content;
    background-color: var(--primary);
    color: var(--on-primary);
    font-size: medium;
    left: 95vw;
    text-align: right;
}

aside > details[open] > summary::before {
    content: "[ Close ] ";
}
