:root {
    --milk-white: #FEFCFF;
    --gunmetal: #2C3539;
    --caviar: #313031;
    /* Nord Palette */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
    /* Default - Nord Light */
    --primary: var(--nord10);
    --secondary: var(--nord8);
    --info: var(--nord7);
    --on-info: var(--nord3);
    --accent: var(--nord9);
    --on-accent: var(--nord5);
    --success: var(--nord14);
    --on-success: var(--text-color);
    --warning: var(--nord13);
    --on-warning: var(--nord3);
    --error: var(--nord11);
    --on-error: var(--text-color);
    --text-color: var(--nord3);
    --background: ghostwhite;
    --surface: var(--nord5);
    --surface-secondary: var(--nord4);
    --surface-tertiary: var(--nord6);
    --on-surface: var(--nord1);

    --border-radius: 5px;
    --border-style: solid;
    --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    --font-family: sans-serif, arial, monospace;
    --input-border-style: inset;
    --text-shadow: none;
}

html[data-theme=nord] {
    --primary: var(--nord8);
    --accent: var(--nord7);
    --on-accent: var(--nord3);
    --secondary: var(--nord9);
    --info: var(--nord10);
    --on-info: var(--nord4);
    --success: var(--nord14);
    --on-success: var(--text-color);
    --error: var(--nord11);
    --on-error: var(--text-color);
    --danger: var(--nord12);
    --warning: var(--nord13);
    --on-warning: var(--nord3);
    --uncommon: var(--nord15);

    /* find other names than --text? */
    --text-color: var(--nord4);
    --text-color-muted: var(--nord5);
    --text-color-emphasis: var(--nord6);

    --background: var(--nord0);
    --surface: var(--nord1);
    --on-surface: var(--nord4);
    --surface-secondary: var(--nord2);
    --surface-tertiary: var(--nord3);

    --border-radius: 8px;
    --border-color: var(--accent);
    --font-family: sans-serif,arial,monospace;
}

html[data-theme="cyberRenaissance"] {
    --primary: #e4d3a2;
    --accent: goldenrod;
    --secondary: #9c8b5a;
    --info: darkgoldenrod;
    --success: #b0f3b3;
    --warning: #f5e382;
    --error: #c74546;
    --uncommon: #a68bf8;
    --background: #1f1d1b;
    --surface: #3f3927;
    --surface-secondary: #918a71;
    
    /*
    --text-color: #918a71;
    --text-color: #555758;
    */
    --text-color: #fcfcf9;
    --text-color-muted: #c8c2af;
    --text-color-emphasis: #fcfcf9;

    --border-radius: 2.5px;
    --border-color: #c0b685;

    /* Other from palette
    gray: #555758
    */

}

/* Inspired by https://cat-street.github.io/deus-ex-ebook/# */
html[data-theme="cyberPunk"] { /* work in progress */
    --primary: #133333;
    --secondary: #a6c9c9;
    --text-color: #fff;
    --text-shadow: 0 0 1rem #14c1c1, 0 0 1rem #189494, 0 0 1rem #134848;
    --surface: #161515;
    --background: radial-gradient(#153939 3%, #161515 3%); /* #161515? */
    /*
    radial-gradient(#153939 3%, #141a20d6 3%)
    */
}

html[data-theme="cyan"] { /* work in progress */
    --primary: darkcyan;
    --secondary: cyan;
    --text-color: lightcyan;
    --background: black;
    --surface: #1e1e1e;
    --font-family: 'Open Sans', monospace, sans-serif, system-ui;
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
    /*
        --shadow-cyan: #0d3939e8 0px 3.2px 7.2px 0px, #008585c4 0px 0.6px 1.8px 0px;
    */
}

html[data-theme=typewriter] {
    --primary: black;
    --accent: black;
    --secondary: black;
    --info: black;
    --on-info: black;
    
    --error: red;
    --danger: red;
    --warning: yellow;
    --success: green;
    --uncommon: purple;

    /* find other names than --text? */
    --text-color: black;
    --text-color-muted: gray;
    --text-color-emphasis: black;

    --background: white;
    --surface: white;
    --surface-secondary: white;
    --surface-tertiary: white;

    --border-radius: 1px;
    --font-family: courier,monospace;
    --card-shadow: none;
}

/* Inspired by https://userbase.kde.org/Welcome_to_KDE_UserBase */
html[data-theme="kde"] { /* work in progress */
    --primary: #54a3d8;
    --secondary: #6c757d;
    --success: #28a745; /* #2f4e42!important */
    --on-success: #eff0f1!important;
    --success-border-color: #27ae60!important;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --text-color: #eff0f1!important;
}

/* Inspo
    https://css-tricks.com/old-timey-terminal-styling/
*/
html[data-theme="oldSchool"] {
    --primary: lime;
    --accent: forestgreen;
    --secondary: green;
    --info: green;
    --success: green;
    --warning: greenyellow;
    --error: orangered;
    --uncommon: springgreen;
    --background: radial-gradient(rgb(0 42 0 / 93%), #000000ed 120%);
    --surface: #1f1d1b;
    --surface-secondary: #1f1d1b;
    
    --text-color: lime;
    --text-color-muted: darkolivegreen;
    --text-color-emphasis: green;
    --text-shadow: 0 0 5px #C8C8C8;

    --border-radius: 0px;
    --border-color: forestgreen;
    --border-style: dashed;

    --font-family: 'Courier New', monospace;

    /* Other from palette
    gray: #555758
    */
}

html[data-theme="oldSchool"] hr {
    border-style: dashed;
}

/* Microsoft Fluent UI
*/
html[data-theme="redmond"] {
    --primary: #0078d4;
    --secondary: #e3ecfa;
    --accent: #2b579a;
    --info: #7da3c6;
    --success: #217346;
    --warning: #fce100;
    --error: #a4373a;
    --uncommon: #881798;
    
    --background: #f3f2f1;
    --surface: #ffffff;
    --surface-secondary: #d2d0ce;
    
    --text-color: #252423;
    --text-color-muted: #605e5c;
    --text-color-emphasis: #484644;
    --text-shadow: 0 0 5px #C8C8C8;
    
    --border-radius: 2px;    
    --border-color: var(var(--surface-secondary));
    --border-style: solid;

    --box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
    /* Other from palette
    gray: #555758
    */

}

/*
 * Suggested:
 * solarized (dark/light),
 */
