:root {
    --milk-white: #FEFCFF;
    --gunmetal: #2C3539;
    --caviar: #313031;
    /* Nord Palette */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
    /* Default - Nord Light */
    --primary: var(--nord10);
    --secondary: var(--nord8);
    --info: var(--nord7);
    --on-info: var(--nord3);
    --accent: var(--nord9);
    --on-accent: var(--nord5);
    --success: var(--nord14);
    --on-success: var(--text-color);
    --warning: var(--nord13);
    --on-warning: var(--nord3);
    --error: var(--nord11);
    --on-error: var(--text-color);
    --text-color: var(--nord3);
    --background: ghostwhite;
    --surface: var(--nord6);
    --surface-secondary: var(--nord4);
    --on-surface: var(--nord1);
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    --font-family: sans-serif, arial, monospace;
    --input-border-style: inset;
}

html[data-theme="nord"] {
    --primary: var(--nord8);
    --secondary: var(--nord7);
    --info: var(--nord9);
    --success: var(--nord14);
    --on-success: var(--text-color);
    --warning: var(--nord13);
    --on-warning: var(--nord3);
    --error: var(--nord11);
    --on-error: var(--text-color);
    --text-color: var(--nord4);
    --background: var(--nord0);
    --surface: var(--nord1);
    --surface-secondary: var(--nord2);
    --on-surface: var(--nord4);
}

html[data-theme="cyberRenaissance"] {
    --primary: #e4d3a2;
    --secondary: #9c8b5a;
    --text-color: #918a71;
    --background: #1f1d1b;
    --surface: #3f3927;
    --warning: #f5e382;
    --error: #c74546;
    --success: #b0f3b3;

    /* Other from palette
    borders: c0b685
    gray: #555758
    white: #fcfcf9;
    offwhite: #c8c2af
    purple/indigo: a68bf8
    */

}

/* Inspired by https://cat-street.github.io/deus-ex-ebook/# */
html[data-theme="cyberPunk"] { /* work in progress */
    --primary: #133333;    
    --secondary: #a6c9c9;
    --text-color: #fff;
    --text-shadow: 0 0 1rem #14c1c1, 0 0 1rem #189494, 0 0 1rem #134848;
    --surface: #161515;
    --background: radial-gradient(#153939 3%, transparent 3%); /* #161515? */
}

html[data-theme="cyan"] { /* work in progress */
    --primary: darkcyan;
    --secondary: cyan;
    --text-color: lightcyan;
    --background: black;
    --surface: #1e1e1e;
    --font-family: 'Open Sans', monospace, sans-serif, system-ui;
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
    /*
        --shadow-cyan: #0d3939e8 0px 3.2px 7.2px 0px, #008585c4 0px 0.6px 1.8px 0px;
    */
}

/* Inspired by https://userbase.kde.org/Welcome_to_KDE_UserBase */
html[data-theme="kde"] { /* work in progress */
    --primary: #54a3d8;
    --secondary: #6c757d;
    --success: #28a745; /* #2f4e42!important */
    --on-success: #eff0f1!important;
    --success-border-color: #27ae60!important;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --text-color: #eff0f1!important;
}



/*
 * Suggested:
 * solarized (dark/light),
 */
