@keyframes spinVertical {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.spinVertical {
    animation-name: spinVertical;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes attentionBlink {
    0% {
        box-shadow: 0 0 0rem 0px var(--secondary);
        filter: brightness(1);
        opacity: 0;
        border-radius: 2rem;
    }
    15% {
        box-shadow: 0 0.6em 0.4em -0.225em rgba(10, 10, 10, 0.15), 0 0px 0 0px rgba(10, 10, 10, 0.01) !important;
        filter: brightness(1.1);
        opacity: 1;
        border-radius: 3rem;
    }
    100% {
        box-shadow: 0 0 8rem 4rem transparent;
        filter: brightness(1);
        border-radius: 0rem;
    }
}

.attentionBlinkTriple {
    animation-name: attentionBlink;
    animation-duration: 0.6s;
    animation-iteration-count: 3;
}

.attentionBlinkOnce {
    animation-name: attentionBlink;
    animation-duration: 1.4s;
    animation-iteration-count: 1;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.zoomIn {
    animation-name: zoomIn;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

/* TODO: test simple slow blur
@keyframes blurIn {
    0% {
        opacity: 0;
        letter-spacing: 2vw;
        margin-left: 4vw;
    }
    35% {
        letter-spacing: 3.2vw;
        opacity: .8;
    }
    55% {
        margin-left: 0vw;
    }
    65% {
        opacity: .4;
        letter-spacing: .6rem;
        margin-left: -0.3vw;
    }
    85% {
        opacity: .4;
        letter-spacing: .5rem;
    }
    100% {
        opacity: .4;
        letter-spacing: .6rem;
        margin-left: 0vw;
    }
}
*/

@keyframes blurIn {
    0% {
        opacity: 0;
        transform: scale(.8);
        filter: blur(.6rem);
        /*box-shadow: 1rem 1rem 100vh 50vh var(--secondary);*/
        box-shadow: 20px 20px 0 100vh var(--secondary);
        background-color: var(--secondary);
        border-radius: 50%;
    }
    75% {
        box-shadow: 20px 20px 0 80vh var(--secondary);
        /*box-shadow: 1rem 1rem 100vh 50vh var(--secondary);*/
    }
    100% {
        opacity: .4;
        transform: scale(1);
        filter: blur(0rem);
        box-shadow: 0rem 0rem 0vh 0vh var(--secondary);
        /*box-shadow: 20px 20px 0 80vh var(--secondary);*/
        background-color: inherit;
        border-radius: 50%;
    }
}

.blurIn {
    animation-name: blurIn;
    /*animation-duration: 0.3s;*/
    animation-duration: 1.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: 2s;
}

@keyframes slideInBottomUp {
    0% {
        bottom: -5vh;
        opacity: 0;
        transform: scale(0.90);
    }
    35% {
        /*transform: scale(0.95);*/
        transform: scale(0.95);

    }
    75% {
        opacity: 1;
        bottom: 0;


    }
    100% {
        transform: scale(1);
    }
}

.slideInBottomUp {
    position: relative;
    animation-name: slideInBottomUp;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

@keyframes slideInTopDown {
    from {
        top: -10vh;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.slideInTopDown {
    position: relative;
    animation-name: slideInTopDown;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes slideInRightToLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.slideInRightToLeft {
    position: relative;
    animation-name: slideInRightToLeft;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes unCollapseVerticalEdit {
    from {
        max-height: 100vh;
        background-color: inherit;
    }
    to {
        max-height: 0vh;
        background-color: whitesmoke;
    }
}

@keyframes unCollapseVertical {
    from {
        max-height: 0vh;
        background-color: whitesmoke;
    }
    to {
        max-height: 100vh;
        background-color: inherit;
    }
}

@keyframes attentionShimmer {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    75% {
        opacity: .6;
    }
    100% {
        opacity: 1;
    }
}

.attentionShimmer {
    animation-name: attentionShimmer;
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    animation-delay: .6s;
}
