
.interaction {
    transition: all .4s ease;
    padding: calc(.5em - 1px) 1em;
    color: var(--primary);
    margin-bottom: .5rem;
    margin-right: .5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px solid transparent;
    border-radius: .4rem;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    box-shadow: none;
    display: inline-flex;
    height: 2.5em;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
}

.interaction:hover {
    transition: all .4s ease;
    padding-bottom: 3rem !important;
    box-shadow: 0 0.6em 0.4em -0.225em rgba(10, 10, 10, 0.15), 0 0px 0 0px rgba(10, 10, 10, 0.01) !important;
    border-radius: 1rem;
}

.interaction>svg {
    color: var(--primary); /* TODO: should reflect brand colors */
    transition: all .4s ease;
}

.interaction:hover>svg[data-icon="envelope"],
.attention>svg[data-icon="envelope"] 
{
    color: #a9a9a9;
}

.interaction:hover>svg[data-icon="github"],
.attention>svg[data-icon="github"] 
{
    color: #24292e;
}

.interaction:hover>svg[data-icon="linkedin"],
.attention>svg[data-icon="linkedin"] 
{
    color: #0077b5;
}

.interaction::before {
    content: attr(data-text);
    color: var(--primary);
    transform: scale(.5);
    position: absolute;
    top: 1.4rem;
    opacity: 0;
    font-size: smaller;
    font-weight: 600;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    transition-delay: .1s;
}

.interaction:hover::before {
    content: attr(data-text);
    transform: scale(1);
    position: absolute;
    top: 1.8rem;
    opacity: 1;
    font-size: medium;
}

.attention {
    opacity: .9;
    padding-bottom: 3rem !important;
    transition: all .4s ease;
}

.interaction.attention::before {
    content: attr(data-text);
    transform: scale(1);
    position: absolute;
    top: 1.8rem;
    opacity: 1;
    font-size: medium;
    font-weight: 600;
}

a[target="_blank"].interaction:hover::after {
    display: none !important;
}

/*
.interaction svg {
    width: 2rem;
    height: 2rem;
}
*/
