<div id="bottomNavigation" class="card hidden attentionShimmer bottom-nav-container">
  <a class="icon-button" href="/" title="Home" aria-label="Home">
    &#8962; 
  </a>
  <hr />
  <div class="dropdown dropup">
    <a class="icon-button" title="Home" aria-label="Home" style="cursor: initial";>
      &#128490;
    </a>
    <div class="dropdown-content right">
        <span>Give feedback</span>
        <hr class="inset dense" />
        {% for m in bottomNavMenuProps %}
          <a id="bottomNav{{m.text}}" href="{{ m.href }}" target="_blank" rel="noopener">
              <span style="display: inline-block;">{{ m.icon | safe }}</span>
              <span style="display: inline-block;">{{ m.text }}</span>
          </a>
        {% endfor %}
    </div>
  </div>
</div>
<script>
  if (location.pathname !== "/") {
    const bottomNavigation = document.getElementById("bottomNavigation")
    bottomNavigation.classList.remove("hidden")
  }

  const newHref = `mailto:feedback@lybekk.tech?subject=Hi!&body=%0D%0A---%0D%0ARequest%20made%20at%3A%20` + window.location.href
  document.querySelector("#bottomNavEmail").href = newHref
</script>
