.bottom-navigation {
    position: fixed;
    bottom: 0px;
    right: 0;
    border-radius: 2rem;
    margin: 1vw;
    z-index: 1000;
    background-color: #00000008;
    padding: 1vh;
    display: flex;
    justify-content: flex-end;
}

.bottom-navigation>div {
    margin: 0.3rem;
}