@media screen and (max-width: 660px) {
    .grid-container {
      grid-template-columns: 1fr !important;
    }
  }

.grid-container {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    text-align: left;
    padding: .1rem;
    color: var(--text-color);
}

.grid-container>hr {
    grid-column: 1 / span 2;
    opacity: .4;
    width: 100%;
}
