@charset "utf-8";
@import "../styling/variables.scss";
@import "../styling/typography.css";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--background);
    margin: 0;
}

main {
    @media screen and (min-width: 1216px) {
        max-width: 1152px;
    }
    @media screen and (min-width: 1024px) {
        max-width: 960px;
    }
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

h1 {
    font-size: xxx-large;
    font-weight: 400;
}

h2 {
    font-size: xx-large;
    font-weight: 400;
}

h3 {
    font-size: x-large;
    font-weight: 400;
}

h4 {
    font-size: large;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    border-color: transparent;
    border-width: medium;
    border-style: solid;
    line-height: 1.1;
    margin-bottom: 1.45rem;
    text-rendering: optimizeLegibility;
}

p {
 font-weight: 400;
}

p:hover::after {
    content: "\221F";
    position: absolute;
    transform: translateY(-2rem) translateX(1rem) scaleX(-1);
}

p:hover::after {
    position: absolute;
    content: "\221F";
    position: absolute;
    transform: translateY(-2rem) translateX(1rem) rotate(180deg);
}

a {
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    padding: .3rem;
}

a:hover {
    background-color: var(--primary);
    color: var(--background);
    transition: all .2s ease-in-out;
    box-shadow: var(--card-shadow);
}

blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid var(--secondary);
    background-color: var(--surface);
    display: inline-block;
    box-shadow: var(--card-shadow);
}

blockquote.warning {
    padding: .8rem;
    border-left-color: transparent;
    background-color: var(--warning);
    color: var(--on-warning);
}

button {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.0892857em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 64px;
    border: none;
    outline: none;
    line-height: inherit;
    user-select: none;
    appearance: none;
    vertical-align: middle;
    border-radius: 4px;
    height: 36px;
    padding: 0px 16px;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    flex: 1 1 auto;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--surface);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

input {
    padding: 14.5px 14px;
    background: none;
    box-sizing: content-box;
    border-style: var(--input-border-style);
    border-color: var(--primary);
    border-radius: 8px;
    border-width: 1px;
    outline: none;
    caret-color: var(--primary);
    color: var(--text-color);
    font-size: medium;
    margin: .6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="checkbox"] {
    appearance: auto;    
}

label {
    display: block;
}

th {
    font-weight: 400;
    font-size: large;
    border-bottom: 1px solid var(--text-color);
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

ul {
    margin-left: 1.45rem;
    padding: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
}

li {
    margin-bottom: calc(1.45rem / 2);
}

table {
    line-height: 1.45rem;
    border-collapse: collapse;
}

.active-link {
    //border-radius: 5px;
    background-color: var(--primary);
    color: var(--background);
    transition: all 1s ease-in-out;
    box-shadow: var(--card-shadow);
    border-bottom-width: .2rem;
    border-bottom-style: solid;
    border-bottom-color: var(--primary);
}

.icon-button {
    font-size: xx-large;
    padding: .2rem;
}

.gatsby-highlight {
    box-shadow: var(--card-shadow);
    border-radius: 8px;
    display: inline-block;
}

.list-generic {
    list-style: none;
}

.card {
    display: inline-block;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
    padding: 1rem;
    margin-bottom: 2vh;
    background-color: var(--surface);
}

.l-grid-center-list {
    display: grid;
    place-items: center;    
    margin-bottom: 45vh;
    padding-top: 16vh;
}

hr.inset {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--text-color), rgba(0, 0, 0, 0));
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 76%;
}

.dense {
    margin: .8vh !important;
}

/*
 * Scrollbars (Global)
 */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--text-color) var(--background);
}
  
/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 1vw;
}
*::-webkit-scrollbar-track {
    background: var(--background);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--surface);
    min-width: 160px;
    box-shadow: var(--card-shadow);
    z-index: 1;
}

.dropdown-content span,
.dropdown-content a {
    padding: .2rem .3rem;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown.dropup>.dropdown-content {bottom: 1.8rem;}

.right {
    right: 0;
}

/* Grid */

.grid-container {
    display: grid;
    grid-gap: 1.4vw;
    grid-template-rows: auto auto auto;
}

.grid-container--fill {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-element {
    color: #e8ffff;
    background-color: #002727;
    padding: 1vw;
    box-shadow: var(--shadow-cyan);
}

/* Prismjs */
:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: var(--text-color);
    padding: .3em;
}

pre[class*="language-"] {
    margin: 0 0 !important;
}

