@import "../styling/variables.scss";

.whiteBackgroundShadow {
    background-color: var(--background);
    box-shadow: var(--background) 0px 0.2em 2em 3em, var(--background) 0px 0px 7px 3px;
}

.navStyle {
    position: fixed;
    @extend .whiteBackgroundShadow;
}
