$milk-white: #FEFCFF;
$gunmetal: #2C3539;
$caviar: #313031;

$nord0: #2E3440; // Polar Night "1"
$nord1: #3B4252; // Polar Night "2"
$nord2: #434C5E; // Polar Night "3"
$nord3: #4C566A; // Polar Night "4"
$nord4: #D8DEE9; // Snow Storm "1"
$nord5: #E5E9F0; // Snow Storm "2"
$nord6: #ECEFF4; // Snow Storm "3"
$nord7: #8FBCBB; // Frost "1"
$nord8: #88C0D0; // Frost "2"
$nord9: #81A1C1; // Frost "3"
$nord10: #5e81ac; // Frost "4"
$nord13: #EBCB8B; // Aurora "3"



/* 
 * Theme Colors
 */

$primary: $nord10;
$secondary: $nord8;
$info: $nord9;
$warning: $nord13;
$on-warning: $nord3;
$white: $milk-white;
$grey: $gunmetal;
$black: $caviar;
$dark: $nord3;
$background: $nord5;

/*
 * Misc.
 */

$box-radius: 4px;
$box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);

/*
 * Theme - CSS Variables
 */

:root { /* Default - Nord Light */
    --primary: #{$primary};
    --secondary: #{$secondary};
    --card-shadow: #{$box-shadow};
    --text-color: #{$dark};
    --background: #{$background};
    --surface: #{$nord6};
}

html[data-theme="cyberRenaissance"] {
    --primary: #e4d3a2;
    --secondary: #9c8b5a;
    --text-color: #918a71;
    --background: #1f1d1b;
    --surface: #3f3927;
    --warning: #f5e382;
    --error: #c74546;
    --success: #b0f3b3;

    /* Other from palette
    borders: c0b685
    gray: #555758
    white: #fcfcf9;
    offwhite: #c8c2af
    purple/indigo: a68bf8
    */

}

/* Inspired by https://cat-street.github.io/deus-ex-ebook/# */
html[data-theme="cyberpunk"] {
    --primary: #133333;    
    --secondary: #a6c9c9;
    --text-color: #fff;
    --text-shadow: 0 0 1rem #14c1c1, 0 0 1rem #189494, 0 0 1rem #134848;
    --surface: #161515;
    --background: radial-gradient(#153939 3%, transparent 3%); // #161515?    
}
