---
permalink: lybekk.css
files: [
    "variables",
    "htmlTags",
    "classes",
    "animations",
    "global"
]
---
{% for file in files %}
    {% include "./styles/" + file + ".css" %}
{% endfor %}
